<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <link rel="stylesheet" href="static/css/demo.css">
    <script src="static/js/vue.js"></script>
</head>
<body>

<h2>Component</h2>
<div id="vue_component">
    <h3>【全局组建】</h3>
    <div>
        <com-public-card v-for="(item, index) of list" :key="item.title"
                         :title="item.title"
                         :content="item.content"
                         @event_click="onCardClick(index)"
        ></com-public-card>
    </div>

    <h3>【局部组建】</h3>
    <div>
        <com-private-card v-for="(item, index) of list" :key="item.title"
                          :title="item.title"
                          :content="item.content"
                          @event_click="onCardClick(index)"
        ></com-private-card>
    </div>
</div>
<script>

    // 局部组件
    var com_card = {
        // input: title content msg event_click
        props: ['title', 'content', 'msg'],    //组建接受的属性值
        template: '<div @click="event_div_click"><B>{{title}}</B><p>{{content}}</p></div>',
        methods: {
            event_div_click: function () {
                // 模板Click事件触发 => 触发属性event_click绑定的外部事件
                this.$emit('event_click');
            }
        }
    };

    // 全局组件
    Vue.component('com-public-card', com_card);

    // 绑定
    new Vue({
        el: "#vue_component",
        components: { //引入局部组建，全局不需要在此处引入。
            'com-private-card': com_card //组建标签名称: 组建本地变量名称
        },
        data: {
            list: [
                {
                    title: '标题1',
                    content: '内容1'
                }, {
                    title: '标题2',
                    content: '内容2'
                }
            ]
        },
        methods: {
            onCardClick: function (index) {
                alert(this.list[index].title);
            }
        }
    });
</script>

</body>
</html>