<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Listen</title>
    <link rel="stylesheet" href="static/css/demo.css">
    <script src="static/js/vue.js"></script>
    <style>
        input {
            width: 80%;
        }
    </style>
</head>
<body>

<h2>双向绑定</h2>
<div id="vue_double_bind">
    <!-- 通过v-model属性来双向绑定value -->
    <p>提示：被绑定属性改变时，变量同样会改变。</p>

    <h3>简单双向</h3>
    <p>显示：{{value}}</p>
    <input type="text" v-model="value"/>

    <h3>延迟双向</h3>
    <p><code>lazy</code>：改变完成后才显示，{{value_lazy}}</p>
    <input type="text" v-model.lazy="value_lazy"/>

    <h3>数值类型</h3>
    <p><code>number</code>：数值类型，{{value_number}}</p>
    <input type="number" v-model.number="value_number"/>

    <h3>Trim</h3>
    <p><code>trim</code>：去除前后空格，[{{value_trim}}]</p>
    <input type="text" v-model.trim="value_trim"/>
</div>
<script>
    new Vue({
        el: "#vue_double_bind",  // 设置挂载点：绑定ID
        data: {
            value: "Hello",
            value_lazy: "",
            value_number: 0,
            value_trim: ''
        }
    });
</script>

<!-- ■■■■■■■■ ■■■■■■■■ ■■■■■■■■ ■■■■■■■■-->

<h2>计算属性</h2>
<div id="vue_compute">
    <p><label>X1：<input type="number" v-model.number="num1"/></label></p>
    <p><label>X2：<input type="number" v-model.number="num2"/></label></p>
    <p><label>X3：<input type="number" v-model.number="num3" @change="watch_num"/></label></p>

    <h3>表达式法</h3>
    <p>X1 + X2 = {{num1 + num2}}</p>

    <h3>计算属性</h3>
    <p>X1 + X2 = {{sum_num}}</p>

    <h3>Complex</h3>
    <p><label>ComplexNumber：{{complex_num}}</label></p>
</div>
<br>
<script>
    new Vue({
        el: "#vue_compute",  // 设置挂载点：绑定ID
        data: {
            num1: 0,
            num2: 0,
            num3: 0
        },
        methods: {
            watch_num: function () {
                this.complex_num = this.num3;
            }
        },
        //计算属性
        computed: {
            // 简单计算属性
            sum_num: function () {
                return parseInt(this.num1) + parseInt(this.num2);
            },
            complex_num: {
                set: function (val) {
                    this.num3 = val * 2;
                },
                get: function () {
                    return this.num3;
                }
            }
        }
    });
</script>

<!-- ■■■■■■■■ ■■■■■■■■ ■■■■■■■■ ■■■■■■■■-->

<h2>监听改变</h2>
<div id="vue_watch">
    <p>提示：被绑定的值（也可以是计算值）改变时，触发监听事件。</p>
    <p>改变了{{count}}次得到：{{value}}</p>
    <input type="text" v-model="value"/>
</div>
<script>
    new Vue({
        el: "#vue_watch",  // 设置挂载点：绑定ID
        data: {
            value: '',
            count: 0
        },
        //计算属性
        watch: {
            value: function () {
                this.count++; // 计算value改变的次数
            }
        }
    });
</script>

</body>
</html>