body {
    margin-left: 20%;
    margin-right: 20%;
}

code {
    background-color: #eee;
}

h2 {
    margin-top: 30px;
    color: #3a8ee6;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    color: hotpink;
    margin-bottom: 5px;
}

h2+*, div {
    margin-top: 5px;
    background-color: bisque;
    margin-bottom: 10px;
}

/*
.line {
    height: 2px;
    width: 100%;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 70px;
}
*/
